@font-face {
  font-family: 'Monoid';
  src: url('./Monoid-Bold.woff2') format('woff2'),
    url('./Monoid-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monoid';
  src: url('./Monoid-Italic.woff2') format('woff2'),
    url('./Monoid-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Monoid';
  src: url('./Monoid-Regular.woff2') format('woff2'),
    url('./Monoid-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
